body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fffdf2;
  margin: 0;
  padding: 20px;
  text-align: center;
  padding-top: 5px;
}

/* Header */
.header {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #323232;
  position: relative;
  flex-wrap: wrap;
  padding: 10px 0;
}

.header img {
  border-radius: 5px;
  background-color: #ddd; 
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #ddd;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

/* Layout */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  background: #eae7dd;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 320px;
}

/* Inputs */
input{
    display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: transparent;
}

select {
  display: block;
  margin: 10px auto;
  /* padding: 10px; */
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: transparent; 
}

input:focus,
select:focus {
  outline: none;
}

button {
  background: #6e6e6e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #535353;
}

#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 180px;
}

.qr-canvas,
#qrcode img {
  width: 180px !important;
  height: 180px !important;
}

/* Attendance Table */
.attendance-section {
  margin-top: 30px;
  padding: 20px;
  background: #eae7dd;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.attendance-section select {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  height: 30px;
  width: auto;
}

.attendance-section button {
  margin-top: 0.75rem;
}

.attendance-section h2 {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

/* Make photo column responsive */
td img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 100%;
}

#clrBtn {
  background-color: #ff9966;
}

#clrBtn:hover {
  background-color: #f8800c;
}




/* Responsive */
@media (max-width: 768px) {
  .header img {
    position: static;
    margin: 1rem auto;
  }

  .header {
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .attendance-section {
    width: 95%;
    padding: 10px;
  }

  table,
  th,
  td {
    font-size: 0.9rem;
  }

  td img {
    width: 70px;
  }
}